<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
</style>

<% if flash[:errors] %>
<% flash[:errors].each do |e| %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Holy guacamole!</strong> <%= e %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% end %>
<% end %>

<h1>Edit <%= @assignment.name %> </h1>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<br><br>
	<div class="container rounded bg-secondary">
		<form action="/courses/<%= @courseid %>/assignments/<%= @assignment.id %>" method="post">
			<input type="hidden" name="_method" value="patch">
			<br>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class="form-group">
				<label for="assignmentName"><b>Assignment Name</b></label>
				<input type="text" class="form-control" name="assignment[name]" id="assignmentName" value="<%= @assignment.name %>">
			</div>
			<div class="form-group">
				<label for="assignmentDesc"><b>Assignment Description</b></label>
				<input type="text" class="form-control" name="assignment[description]" id="assignmentDesc" value="<%= @assignment.description %>">
			</div>
			<input type="submit" class="btn btn-success" name="Create">
		</form>
		<br>
	</div>
</div>