<style>
	h1 {text-align: center;}
	h2 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
</style>
<h1><%= @course.title %></h1>
<h2><%= @assignment.name %></h2>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<br><br>
	<div class="container rounded bg-secondary text-white">
		<br>
		<div class="row align-items-center">
			<div class="col-sm">
				<h5>Min: <%= @min.round(2) %></h5>
			</div>
			<div class="col-sm">
				<h5>Average: <%= @average.round(2) %></h5>
			</div>
			<div class="col-sm">
				<h5>Max: <%= @max.round(2) %></h5>
			</div>
		</div>
		<br>
	</div>
	<br>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Grade</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @students.each do |student| %>
			<tr>
				<td><%= student.first_name %></td>
				<td><%= student.last_name %></td>
				<td><%= (StudentGrade.find_by(:student_id => student.id, :assignment_id => @assignment.id).grade).round(2)%></td>
				<td>
					<a type="button" class="btn btn-primary btn-sm" href="/courses/<%=@course.id %>/assignments/<%=@assignment.id%>/grade/<%= StudentGrade.find_by(:student_id => student.id, :assignment_id => @assignment.id).student_id%>/<%= StudentGrade.find_by(:student_id => student.id, :assignment_id => @assignment.id).id%>">Edit Grade</a>
				</td>
			</tr>
		</tr>
		<% end %>
	</tbody>
</table>
</div>