<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Grade Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/courses">Courses</a>
      <a class="nav-link" href="/students">Students</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming Soon</a>
    </div>
  </div>
</nav>

<h1>View <%= pluralize(@students.count, "Students")%></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr>
			<td><%= student.first_name %></td>
			<td><%= student.last_name %></td>
			<td><a href="/students/<%=student.id %>">Show</a> |
				<a href="/students/<%=student.id %>/edit">Edit</a> |
				<a href="/students/<%=student.id %>" data-method="delete"
					data-confirm="Are you sure?">Delete</a>
			</td>
				<% end %>
		</tr>
	</tbody>
</table>
<a href="/students/new">Create Students</a>