<h1>View <%= pluralize(@students.count, "Students")%></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr>
			<td><%= student.first_name %></td>
			<td><%= student.last_name %></td>
			<td><a href="/students/<%=student.id %>">Show</a> |
				<a href="/students/<%=student.id %>/edit">Edit</a> |
				<a href="/students/<%=student.id %>" data-method="delete"
					data-confirm="Are you sure?">Delete</a>
			</td>
				<% end %>
		</tr>
	</tbody>
</table>
<a href="/students/new">Create Students</a>