<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
	.clickable-row {cursor: pointer}
</style>
<!-- Java Script -->
<script>
jQuery(document).ready(function($) {
	$(".edit").click(function (event) {
  		event.stopPropagation()
	})
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

<!-- Main Meat -->
<h1>Students</h1>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<a class="btn btn-success" href="/students/new" role="button">Create Student</a>
	<p></p>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @students.each do |student| %>
			<tr class="clickable-row" data-href="/students/<%=student.id %>">
				<td><%= student.first_name %></td>
				<td><%= student.last_name %></td>
				<td><a href="/students/<%=student.id %>">Show</a> |
					<a href="/students/<%=student.id %>/edit" class="edit">Edit</a> |
					<a href="/students/<%=student.id %>" class="del" data-method="delete"
						data-confirm="Are you sure?">Delete</a>
				</td>	
			<% end %>
			</tr>
		</tbody>
	</table>
</div>

