<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
	.clickable-row {cursor: pointer}
</style>
<!-- Java Script -->
<script>
jQuery(document).ready(function($) {

    $(".clickable-row").click(function() {

        window.location = $(this).data("href");

    });
});
</script>

<!-- Main Meat -->
<h1>View <%= @student.first_name %> <%= @student.last_name %>'s Classes</h1>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<p></p>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Professor</th>
				<th>Room</th>
			</tr>
		</thead>
		<tbody>
			<% @courses.each do |course| %>
			<tr class="clickable-row" data-href="/courses/<%= course.id %>/assignments">
				<td><%= course.title %></td>
				<td><%= course.professor %></td>
				<td><%= course.room %></td>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>