<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
	.clickable-row {cursor: pointer}
</style>

<h1>View <%= @student.first_name %> <%= @student.last_name %>'s Assignments</h1>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<a class="btn btn-success" href="assignments/new" role="button">Create Assignment</a>
	<p></p>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Assignment Name</th>
				<th>Assignment Description</th>
				<th>Grade</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @studentGrades.each do |studentGrades| %>
			<tr>
				<td><%= studentGrades.assignment.name %></td>
				<td><%= studentGrades.assignment.description %></td>
				<td><%= studentGrades.grade %></td>
				<td>
					<a type="button" class="btn btn-primary btn-sm" href="/students/<%=@student.id%>/studentGrades/<%= StudentGrade.find_by(:student_id => @student.id, :assignment_id => studentGrades.assignment.id).id%>">Edit Grade</a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>