<h1>View Course's Assignments</h1>
<a href="/courses">Back</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Assignment Name</th>
			<th>Assignment Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @assignments.each do |assignment| %>
		<tr>
			<td><%= assignment.name %></td>
			<td><%= assignment.description %></td>
			<td>
				<a href="/courses/<%=@course.id %>/assignments/<%=assignment.id%>/edit">Edit</a> |
				<a href="/courses/<%=@course.id %>/assignments/<%=assignment.id%>" data-method="delete"
					data-confirm="Are you sure?">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="assignments/new">Create Assignment</a>