<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
	.clickable-row {cursor: pointer}
</style>
<!-- Main Meat -->
<h1>View Course's Assignments</h1>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<a class="btn btn-success" href="assignments/new" role="button">Create Assignment</a>
	<p></p>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Assignment Name</th>
				<th>Assignment Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @assignments.each do |assignment| %>
			<tr>
				<td><%= assignment.name %></td>
				<td><%= assignment.description %></td>
				<td>
					<a href="/courses/<%=@course.id %>/assignments/<%=assignment.id%>/edit">Edit</a> |
					<a href="/courses/<%=@course.id %>/assignments/<%=assignment.id%>" data-method="delete"
						data-confirm="Are you sure?">Delete</a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>