<style>
	h1 {text-align: center;}
	div {text-align: center;}
	.form-group {text-align: left;}
</style>
<h1>Edit <%= @course.title %> </h1>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  	<strong>Holy guacamole!</strong> <%= e %>
	  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<span aria-hidden="true">&times;</span>
	 	</button>
	</div>
	<% end %>
<% end %>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<br><br>
	<div class="container rounded bg-secondary">
		<form action="/courses/ <%= @course.id %>" method="post">
			<br>
			<input type="hidden" name="_method" value="patch">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class="form-group">
				<label for="courseTitle"><b>Course Title</b></label>
				<input type="text" class="form-control" name="course[title]" id="courseTitle" value="<%= @course.title %>">
			</div>
			<div class="form-group">
				<label for="courseProfessor"><b>Course Professor</b></label>
				<input type="text" class="form-control" name="course[professor]" id="courseProfessor" value="<%= @course.professor %>">
			</div>
			<div class="form-group">
				<label for="courseRoom"><b>Course Room</b></label>
				<input type="text" class="form-control" name="course[room]" id="courseRoom" value="<%= @course.room %>">
			</div>
		<input type="submit" class="btn btn-success" name="Update">
	</form>
	<br>
</div>
</div>
