<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
</style>
<h1>Courses</h1>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<a class="btn btn-success" href="/courses/new" role="button">Create Course</a>
	<p></p>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Professor</th>
				<th>Room</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @courses.each do |course| %>
			<tr>
				<td><%= course.title %></td>
				<td><%= course.professor %></td>
				<td><%= course.room %></td>
				<td>
					<a href="/courses/<%= course.id %>/students">Students</a> |
					<a href="/courses/<%= course.id %>/assignments">Assignments</a> |
					<a href="/courses/<%= course.id %>/edit">Edit</a> |
					<a href="/courses/<%= course.id %>" data-method="delete"
						data-confirm="Are you sure?">Delete</a>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>