<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Grade Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/home">Home</a>
      <a class="nav-link active" href="/courses">Courses<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/students">Students</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming Soon</a>
    </div>
  </div>
</nav>

<h1>Courses</h1>
<a class="btn btn-dark" href="/home" role="button">Back</a>
<a class="btn btn-success" href="/courses/new" role="button">Create Course</a>
<p></p>
<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>Title</th>
			<th>Professor</th>
			<th>Room</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @courses.each do |course| %>
		<tr>
			<td><%= course.title %></td>
			<td><%= course.professor %></td>
			<td><%= course.room %></td>
			<td>
				<a href="/courses/<%= course.id %>/students">Students</a> |
				<a href="/courses/<%= course.id %>/assignments">Assignments</a> |
				<a href="/courses/<%= course.id %>/edit">Edit</a> |
				<a href="/courses/<%= course.id %>" data-method="delete"
					data-confirm="Are you sure?">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>